In [1]:
import pandas as pd
import inflection

In [299]:
df_raw = pd.read_csv('datasets/zomato.csv')

In [300]:
dataframe = df_raw.copy()

# Helper Functions

In [301]:
# Preenchimento do nome dos países
COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
    }

def country_name(country_id):
    return COUNTRIES[country_id]

# Criação do Tipo de Categoria de Comida
def create_price_type(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

# Criação do nome das Cores
COLORS = {
"3F7E00": "darkgreen",
"5BA829": "green",
"9ACD32": "lightgreen",
"CDD614": "orange",
"FFBA00": "red",
"CBCBC8": "darkred",
"FF7800": "darkred",
}

def color_name(color_code):
    return COLORS[color_code]

# Renomear as colunas do DataFrame
def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df

# 0.0. Dataframe

In [302]:
# Formatting df
df = rename_columns(dataframe)

# Removing NaN
df = df.loc[~df['cuisines'].isna(),:]
# df = df.reset_index()

# Removing columns
df = df.drop(columns=['switch_to_order_menu'])

# Column price_range_type
df['price_range_type'] = df['price_range'].apply(lambda x: create_price_type(x) )

# Column country_name
df['country_name'] = df['country_code'].apply(lambda x: country_name(x))  

# Columns color_name
df['color_name'] = df['rating_color'].apply(lambda x: color_name(x) ) 

# Cuisines
df['cuisines'] = df.loc[:, 'cuisines'].apply(lambda x: x.split(",")[0])

# Changing types
to_object = ['restaurant_id','country_code']
df.loc[: , to_object] = df.loc[: , to_object].astype(str)

# Reset index
df = df.reset_index(drop=True)

# 1.0. Geral

1. Quantos restaurantes únicos estão registrados?
2. Quantos países únicos estão registrados?
3. Quantas cidades únicas estão registradas?
4. Qual o total de avaliações feitas?
5. Qual o total de tipos de culinária registrados?

In [ ]:
#1. Quantos restaurantes únicos estão registrados?
restaurants_uniques = df['restaurant_id'].nunique()
restaurants_uniques

In [ ]:
#2. Quantos países únicos estão registrados?
country_unique = df['country_code'].nunique()
country_unique

In [ ]:
#3. Quantas cidades únicas estão registradas?
city_unique = df['city'].nunique()
city_unique

In [ ]:
#4. Qual o total de avaliações feitas?
total_votes = df['votes'].sum()
total_votes

In [ ]:
#5. Qual o total de tipos de culinária registrados?
cusines_uniques = df['cuisines'].nunique()
cusines_uniques

# 2.0. País

1. Qual o nome do país que possui mais cidades registradas?
2. Qual o nome do país que possui mais restaurantes registrados?
3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?
4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?
5. Qual o nome do país que possui a maior quantidade de avaliações feitas?
6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?
7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?
8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?
9. Qual o nome do país que possui, na média, a maior nota média registrada?
10. Qual o nome do país que possui, na média, a menor nota média registrada?
11. Qual a média de preço de um prato para dois por país?

In [6]:
# 1. Qual o nome do país que possui mais cidades registradas?

most_cities = df.loc[:, ['country_name','city']].groupby(['country_name']).nunique().sort_values(by='city', ascending=False).reset_index().loc[0,'country_name']
most_cities

'India'

In [8]:
# 2. Qual o nome do país que possui mais restaurantes registrados?

most_restaurants = df.loc[:, ['country_name','restaurant_id']].groupby(['country_name']).nunique().sort_values(by='country_name', ascending=False).reset_index().loc[0,'country_name']
most_restaurants

'United States of America'

In [44]:
# 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

most_restaurants_4 = df.loc[ df['price_range'] == 4 , ['country_name','restaurant_id'] ].groupby(['country_name']).nunique().sort_values(by='restaurant_id', ascending=False).reset_index().loc[0,'country_name']
most_restaurants_4

'United States of America'

In [51]:
# 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

most_cuisines = df.loc[ : , ['country_name','cuisines'] ].groupby(['country_name']).nunique().sort_values(by='cuisines', ascending=False).reset_index().loc[0,'country_name']
most_cuisines

'India'

In [64]:
# 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

most_votes = df.loc[ : , ['country_name','votes']].groupby(['country_name']).sum().sort_values(by='votes', ascending=False).reset_index().loc[0,'country_name']
most_votes

'India'

In [96]:
# 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?
colunas = ['country_name','restaurant_id']
linhas_selecionadas = df['has_online_delivery'] == 1
df.loc[ linhas_selecionadas , colunas ].groupby(['country_name']).nunique().sort_values('restaurant_id', ascending=False).reset_index().loc[0,'country_name']

'India'

In [118]:
# 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?
colunas = ['country_name','restaurant_id']
linhas_selecionadas = df['has_table_booking'] == 1

most_reservations = df.loc[ linhas_selecionadas , colunas ].groupby(['country_name']).nunique().sort_values('restaurant_id', ascending=False).reset_index().loc[0,'country_name']
most_reservations

'India'

In [117]:
# 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?
most_mean_votes = df.loc[:,['votes', 'country_name']].groupby(['country_name']).mean().sort_values('votes', ascending=False).reset_index().loc[0,'country_name']

most_mean_votes

'Indonesia'

In [127]:
# 9. Qual o nome do país que possui, na média, a maior nota média registrada?

highest_rate = df.loc[:,['aggregate_rating','country_name']].groupby(['country_name']).mean().sort_values(['aggregate_rating'], ascending=False).reset_index().loc[0,'country_name']
highest_rate

'Indonesia'

In [128]:
# 10. Qual o nome do país que possui, na média, a menor nota média registrada?

lowest_rate = df.loc[:,['aggregate_rating','country_name']].groupby(['country_name']).mean().sort_values(['aggregate_rating'], ascending=True).reset_index().loc[0,'country_name']
lowest_rate

'Brazil'

In [146]:
# 11. Qual a média de preço de um prato para dois por país?

df.loc[:,['average_cost_for_two','country_name']].groupby('country_name').mean().sort_values('average_cost_for_two', ascending=False).round(1).reset_index()

                country_name  average_cost_for_two
0                  Indonesia              312682.9
1                  Australia              138959.8
2                  Sri Lanka                2607.5
3                Philippines                1211.1
4                      India                 703.0
5               South Africa                 335.5
6                      Qatar                 176.6
7       United Arab Emirates                 158.2
8                  Singapure                 141.0
9                     Brazil                 137.4
10                    Turkey                 128.8
11                New Zeland                  61.4
12  United States of America                  54.9
13                   England                  43.0
14                    Canada                  41.9

# 3.0. Cidade

1. Qual o nome da cidade que possui mais restaurantes registrados?
2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?
3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?
4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?
5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?
6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?
7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?
8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

In [167]:
# 1. Qual o nome da cidade que possui mais restaurantes registrados?

rest_by_city = df.loc[: , ['restaurant_id','city']].groupby('city').nunique().sort_values('restaurant_id', ascending=False).reset_index()

city_list = rest_by_city.loc[ rest_by_city['restaurant_id'] == rest_by_city['restaurant_id'].max() , 'city' ].to_list()
city_list

['Abu Dhabi',
 'Mysore',
 'Glasgow',
 'Goa',
 'Guwahati',
 'Hamilton',
 'Houston',
 'Indore',
 'Jaipur',
 'Kanpur',
 'Kochi',
 'Kolkata',
 'London',
 'Lucknow',
 'Manchester',
 'Mangalore',
 'Nagpur',
 'Durban',
 'Ooty',
 'Patna',
 'Pretoria',
 'Puducherry',
 'Pune',
 'Ranchi',
 'Rio de Janeiro',
 'Sharjah',
 'Singapore',
 'Surat',
 'São Paulo',
 'Vadodara',
 'Varanasi',
 'Vizag',
 'Edinburgh',
 'Ludhiana',
 'Dubai',
 'Cape Town',
 'Brasília',
 'Birmingham',
 'Bhubaneshwar',
 'Bhopal',
 'Bangalore',
 'Austin',
 'Coimbatore',
 'Aurangabad',
 'Colombo',
 'Dallas',
 'Dehradun',
 'Ankara',
 'Amritsar',
 'Allahabad',
 'Agra',
 'Doha',
 'Chennai']

In [169]:
# 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?

rest_by_city_4 = df.loc[ df['aggregate_rating'] >= 4 , ['restaurant_id','city']].groupby('city').nunique().sort_values('restaurant_id', ascending=False).reset_index()

city_list_4 = rest_by_city_4.loc[ rest_by_city_4['restaurant_id'] == rest_by_city_4['restaurant_id'].max() , 'city' ].to_list()

city_list_4

['London']

In [171]:
# 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?

rest_by_city_25 = df.loc[ df['aggregate_rating'] <= 2.5 , ['restaurant_id','city']].groupby('city').nunique().sort_values('restaurant_id', ascending=False).reset_index()

city_list_25 = rest_by_city_25.loc[ rest_by_city_25['restaurant_id'] == rest_by_city_25['restaurant_id'].max() , 'city' ].to_list()

city_list_25

['Gangtok']

In [183]:
# 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

df.loc[:, ['average_cost_for_two','city']].groupby('city').mean().sort_values('average_cost_for_two', ascending=False).reset_index().loc[0,'city']

'Adelaide'

In [192]:
# 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?

df.loc[:,['cuisines','city']].groupby('city').nunique().sort_values('cuisines',ascending=False).reset_index().loc[0,'city']

'Birmingham'

In [202]:
# 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?
df.loc[df['has_table_booking'] == 1, ['city','restaurant_id']].groupby('city').nunique().sort_values('restaurant_id', ascending=False).reset_index().loc[0,'city']

'Bangalore'

In [220]:
# 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?
rests_delivery = df.loc[ df['is_delivering_now']==1, ['restaurant_id','city']].groupby(['city']).nunique().sort_values('restaurant_id', ascending=False).reset_index()

rests_delivery_list = rests_delivery.loc[ rests_delivery['restaurant_id'] == rests_delivery['restaurant_id'].max(), 'city' ].to_list()
rests_delivery_list

['Vadodara', 'Amritsar']

In [223]:
# 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?

rests_delivery_online = df.loc[ df['has_online_delivery']==1, ['restaurant_id','city']].groupby(['city']).nunique().sort_values('restaurant_id', ascending=False).reset_index()

rests_delivery_online_list = rests_delivery_online.loc[ rests_delivery_online['restaurant_id'] == rests_delivery_online['restaurant_id'].max(), 'city' ].to_list()

rests_delivery_online_list

['Abu Dhabi',
 'Mysore',
 'Glasgow',
 'Goa',
 'Guwahati',
 'Hamilton',
 'Houston',
 'Indore',
 'Jaipur',
 'Kanpur',
 'Kochi',
 'Kolkata',
 'London',
 'Lucknow',
 'Manchester',
 'Mangalore',
 'Nagpur',
 'Durban',
 'Ooty',
 'Patna',
 'Pretoria',
 'Puducherry',
 'Pune',
 'Ranchi',
 'Rio de Janeiro',
 'Sharjah',
 'Singapore',
 'Surat',
 'São Paulo',
 'Vadodara',
 'Varanasi',
 'Vizag',
 'Edinburgh',
 'Ludhiana',
 'Dubai',
 'Cape Town',
 'Brasília',
 'Birmingham',
 'Bhubaneshwar',
 'Bhopal',
 'Bangalore',
 'Austin',
 'Coimbatore',
 'Aurangabad',
 'Colombo',
 'Dallas',
 'Dehradun',
 'Ankara',
 'Amritsar',
 'Allahabad',
 'Agra',
 'Doha',
 'Chennai']

# 4.0. Restaurantes

1. Qual o nome do restaurante que possui a maior quantidade de avaliações?
2. Qual o nome do restaurante com a maior nota média?
3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?
4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?
5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?
6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?
7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?
8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

In [304]:
# 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

rest_most_voted = df.loc[:, ['restaurant_name','votes']].groupby('restaurant_name').sum().sort_values('votes', ascending=False).reset_index().iloc[0,0]
rest_most_voted

"Domino's Pizza"

In [305]:
# 2. Qual o nome do restaurante com a maior nota média?

rest_agg_rate = df.loc[:, ['restaurant_name','aggregate_rating']].groupby('restaurant_name').mean().sort_values('aggregate_rating', ascending=False).reset_index()

rests_highest_rate = rest_agg_rate.loc[rest_agg_rate['aggregate_rating'] == rest_agg_rate['aggregate_rating'].max(), 'restaurant_name'].to_list()
rests_highest_rate

["Phil's Bbq",
 'Burger Ka Baap',
 'The Huddle Sports Bar and Grill - Citymax Hotels Bur Dubai',
 'The Himalayan',
 "Gerard's Bistro",
 'Feel Alive',
 'The Potluck Club',
 "Dalessandro's Steaks",
 'Churrascaria Palace',
 'Olive Et Gourmando',
 'Diddy Riese Cookies',
 'The Harvest Vine',
 "Kono's Surf Club Cafe",
 'Mint Leaf of London',
 'The Choco Monarch',
 'Nox - Dine In The Dark',
 'Di Rienzo Grocery & Deli',
 'Home Slice Pizza',
 'Bayramoğlu Döner',
 'WAKI Japanese BBQ Dining',
 'Vortex Bar & Grill',
 'The Halal Guys',
 'Screen Door',
 'Union Woodshop',
 'Level 5 - Terrace Restro & Cafe',
 'Fraser Café',
 'Sentosa MultiCuisine Restaurant',
 'Paseo',
 'Fox Brothers Bar-B-Q',
 'Indian Grill Room',
 "Big Bill's",
 'Café Du Monde',
 'Kazu',
 'Tuck Shop',
 'Tuck Shop Cafe',
 'Dinner By Heston Blumenthal - Mandarin Oriental Hyde Park',
 'Kebabsville - Sayaji Hotel',
 'Milse',
 'Cut By Wolfgang Puck',
 'Fairmount Bagel',
 'El Tepeyac Café',
 'Baked & Wired',
 'DW Eleven-13',
 'Mendokoro Ramenba',
 "Hodad's",
 'Wild Honey',
 "S'MAC",
 'The Public House Café n Restaurant',
 'Ombra',
 'Skye - Hotel Unique',
 'Tapri Central',
 'Aprazível',
 'Kukis',
 'Carnival By Trèsind',
 'Mon Ami Gabi',
 'Chicago Pizza & Oven Grinder Company',
 'Starbucks',
 'Lafayette Coney Island',
 'Molten Chocolate Cafe',
 'Urbanologi',
 "Santarpio's Pizza",
 'Pousada By The Beach',
 "Amélie's",
 'Pabbas',
 'Lankford Grocery',
 'Sushi Samba',
 'Chin Chin Labs',
 'Las Cuatro Milpas',
 'Ola Brasil Restaurant',
 'Earl of Sandwich',
 "Portillo's Hot Dogs",
 'Falafel Bistro & Wine Bar',
 "Mel's Country Cafe",
 'Andina Restaurant',
 "Andre's Cucina & Polenta Bar",
 'Sushi Masa',
 'Sushi Leblon',
 'Oink',
 'Samurai',
 'OEB Breakfast Co.',
 'La Colombe',
 "Kuma's Corner - Belmont",
 'Chotto Matte',
 'Cafe Del Sol Classico',
 'Gemelli Cucina Bar',
 'Fat Cat',
 'Eleos Restaurant',
 'The Cowfish Sushi Burger Bar',
 'Chool',
 'Bakery Nouveau',
 'The Curry Culture',
 'Village Ice Cream',
 'Via De Los Santos Mexican Cafe',
 "Leon's Full Service",
 'Gelateria Montecatini Terme',
 'The Delhi',
 'Antico Pizza',
 'Amano Restaurant',
 'Vietnam House Restaurant & Gallery',
 'The Parlor Pizzeria',
 'Sweet Georgia Brown',
 'Odette',
 'Gaga Manjero',
 'Meraki The Coffee House',
 'Tartine Bakery',
 'Jacaranda Coffee Lane',
 'Yew Tree Cottage',
 'Noble Fish',
 'Toro',
 'Central Grocery',
 'Zolocrust - Hotel Clarks Amer',
 "Perricone's Marketplace & Café",
 'Ronin Cafe',
 "Henry's Louisiana Grill",
 'Duck Island Ice Cream',
 'Ortega Fish Shack & Bar',
 'Ramen Yushoken',
 'Colony',
 'Regina Pizzeria',
 'Naturals Ice Cream',
 'Park Burger',
 'Cafe Muse',
 'Bel Punto',
 'The Magnolia Pancake Haus',
 "Cerroni's Purple Garlic",
 'Bhangra',
 'Red Coat Tavern',
 'Osteria Marco',
 'Spice Kraft',
 'Sidetrack Bar and Grill',
 'Rogue Bistro',
 'Food Shack',
 'Spiral - Sofitel Philippine Plaza Manila',
 "Jack Allen's Kitchen",
 'Heirloom Market BBQ',
 'Mandoo Korean Dumplings',
 '5 Napkin Burger',
 "Lombardi's Pizza",
 'The Sugar Club',
 "Niko Niko's",
 'Z Deli Sandwich Shop',
 'Braseiro da Gávea',
 'The Ledbury',
 'Firefly',
 "Guillermo's",
 "Jimmy's A&A Mediterranean Deli",
 'tbsp.',
 'Xoco',
 'Brick Store Pub',
 'Bottega Louie',
 'Coal Barbecues',
 'Indish Lounge',
 'Nobu Perth',
 'Wurstküche',
 'Trilye',
 'Tocabe, An American Indian Eatery',
 'My Awesome Cafe',
 'Pirates Of Grill',
 'The Purple Pig',
 "Tiny Boxwood's",
 "Rico's World Kitchen",
 'The Observatory',
 'Restaurant Mosaic @ The Orient',
 'Bao',
 'Cochon Butcher',
 "Celino's",
 "Mike's Pastry",
 'Kalsang AMA Cafe',
 'Lotus of Siam',
 'Duck & Waffle',
 'The Original Ghirardelli Ice Cream and Chocolate Shop at Ghirardelli Square',
 'Bi-Rite Creamery & Bakeshop',
 'Yanki Sizzlers',
 'Smoque BBQ',
 'Miann',
 'Baithak',
 'Sharma Ji Ki Chai',
 'The Sidewalk',
 "Pequod's Pizza",
 'Rotisserie Romados',
 'Zaytinya']

In [306]:
# 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?
df.loc[ df['average_cost_for_two']==df['average_cost_for_two'].max() , ['average_cost_for_two','restaurant_name']]

     average_cost_for_two               restaurant_name
385              25000017  d'Arry's Verandah Restaurant

In [307]:
# 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?

conditions = (df['cuisines'] == 'Brazilian') & (df['aggregate_rating'] == df['aggregate_rating'].min())

worst_br_rests = df.loc[ conditions, ['aggregate_rating','restaurant_name']].sort_values('aggregate_rating').drop_duplicates().reset_index()

worst_br_rests.loc[:,'restaurant_name'].to_list()

['Café Savana',
 'Inácia Poulet Rôti',
 'Loca Como tu Madre',
 'Severina',
 'Galeteria Beira Lago',
 'Capricho Mineiro',
 'NAVE MÃE FAST FOOD GOURMET',
 'Restaurante dos Amigos',
 'Rancho Inn',
 'Quitéria',
 'Cantinho da Gula',
 'Bar do Luiz Fernandes',
 'Famiglia Rivitti',
 'Barbosa',
 'Tempero das Gerais']

In [308]:
# 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?

df.loc[ (df['country_name'] == 'Brazil') & (df['cuisines'] == 'Brazilian'), ['aggregate_rating','restaurant_name','restaurant_id'] ].groupby(['restaurant_name','restaurant_id']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index().iloc[0,0]

'Braseiro da Gávea'

In [322]:
# 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?
x = df.loc[:, ['aggregate_rating','has_online_delivery']].groupby('has_online_delivery').agg({'aggregate_rating':['mean','nunique']}).round(2)
x.columns = ['mean','votes']
x = x.reset_index()
x

   has_online_delivery  mean  votes
0                    0  4.13     30
1                    1  4.11     27

In [334]:
# 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que possuem o maior valor médio de um prato para duas pessoas?

df.loc[:, ['has_table_booking','average_cost_for_two']].groupby('has_table_booking').mean().reset_index().round(2)

   has_table_booking  average_cost_for_two
0                  0               3460.61
1                  1              62931.51

In [359]:
# 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

df.loc[((df['cuisines'] == 'Japanese') | (df['cuisines'] == 'BBQ')) & (df['country_name'] == 'United States of America'),['average_cost_for_two','cuisines','country_name']].groupby(['cuisines','country_name']).mean().reset_index().round(2)

   cuisines              country_name  average_cost_for_two
0       BBQ  United States of America                 39.64
1  Japanese  United States of America                 56.41

# 5.0. Tipos de Culinária

1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?
2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?
3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?
4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?
5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?
6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?
7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?
8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?
9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?
10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?
11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?
12. Qual o tipo de culinária que possui a maior nota média?
13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

In [373]:
# 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a maior média de avaliação?
best_italian = df.loc[df['cuisines'] == 'Italian', ['aggregate_rating','cuisines','restaurant_id','restaurant_name']].groupby(['cuisines','restaurant_id','restaurant_name']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index().iloc[0,2]

best_italian

'Darshan'

In [374]:
# 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do restaurante com a menor média de avaliação?
worst_italian = df.loc[df['cuisines'] == 'Italian', ['aggregate_rating','cuisines','restaurant_id','restaurant_name']].groupby(['cuisines','restaurant_id','restaurant_name']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[True,True]).reset_index().iloc[0,2]

worst_italian

'La Bocca Bar e Trattoria'

In [375]:
# 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a maior média de avaliação?
best_american = df.loc[df['cuisines'] == 'American', ['aggregate_rating','cuisines','restaurant_id','restaurant_name']].groupby(['cuisines','restaurant_id','restaurant_name']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index().iloc[0,2]

best_american

'OEB Breakfast Co.'

In [377]:
# 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do restaurante com a menor média de avaliação?

worst_american = df.loc[df['cuisines'] == 'American', ['aggregate_rating','cuisines','restaurant_id','restaurant_name']].groupby(['cuisines','restaurant_id','restaurant_name']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[True,True]).reset_index().iloc[0,2]

worst_american

'Alston Bar & Beef'

In [381]:
# 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a maior média de avaliação?

best_arabian = df.loc[df['cuisines'] == 'Arabian', ['aggregate_rating','cuisines','restaurant_id','restaurant_name']].groupby(['cuisines','restaurant_id','restaurant_name']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index().iloc[0,2]

best_arabian

'Mandi@36'

In [382]:
# 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do restaurante com a menor média de avaliação?
worst_arabian = df.loc[df['cuisines'] == 'Arabian', ['aggregate_rating','cuisines','restaurant_id','restaurant_name']].groupby(['cuisines','restaurant_id','restaurant_name']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[True,True]).reset_index().iloc[0,2]

worst_arabian

'Raful'

In [385]:
# 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a maior média de avaliação?
best_japanese = df.loc[df['cuisines'] == 'Japanese', ['aggregate_rating','cuisines','restaurant_id','restaurant_name']].groupby(['cuisines','restaurant_id','restaurant_name']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index().iloc[0,2]

best_japanese

'Nobu Perth'

In [386]:
# 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do restaurante com a menor média de avaliação?
worst_japanese = df.loc[df['cuisines'] == 'Japanese', ['aggregate_rating','cuisines','restaurant_id','restaurant_name']].groupby(['cuisines','restaurant_id','restaurant_name']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[True,True]).reset_index().iloc[0,2]

worst_japanese

'Banzai Sushi'

In [395]:
# 9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a maior média de avaliação?
best_homemade = df.loc[df['cuisines'] == 'Home-made', ['aggregate_rating','cuisines','restaurant_id','restaurant_name']].groupby(['cuisines','restaurant_id','restaurant_name']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[False,True]).reset_index().iloc[0,2]

best_homemade

'Kanaat Lokantası'

In [394]:
# 10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do restaurante com a menor média de avaliação?
worst_homemade = df.loc[df['cuisines'] == 'Home-made', ['aggregate_rating','cuisines','restaurant_id','restaurant_name']].groupby(['cuisines','restaurant_id','restaurant_name']).mean().sort_values(['aggregate_rating','restaurant_id'], ascending=[True,True]).reset_index().iloc[0,2]

worst_homemade

'GurMekan Restaurant'

In [401]:
# 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas?

df.loc[:, ['cuisines','average_cost_for_two']].groupby('cuisines').mean().sort_values('average_cost_for_two', ascending=False).reset_index().iloc[0,0]

'Modern Australian'

In [403]:
# 12. Qual o tipo de culinária que possui a maior nota média?

df.loc[:, ['cuisines','aggregate_rating']].groupby('cuisines').mean().sort_values('aggregate_rating', ascending=False).reset_index().iloc[0,0]

'Others'

In [416]:
# 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos online e fazem entregas?

df.loc[(df['has_online_delivery'] == 1) & (df['is_delivering_now'] == 1), ['cuisines','restaurant_id']].groupby('cuisines').nunique().sort_values('restaurant_id', ascending=False).reset_index().iloc[0,0]

'North Indian'